<div class="app">
  <mat-toolbar color="primary" class="mat-elevation-z3">
    <span>Markdown Previewer</span>
    <span class="example-spacer"></span>
    <a mat-button href="https://github.com/guiguat/markdown-previewer" target="_blank"
     class="grade-icon-btn" aria-label="Support the repository">
      <span>Support me on github</span>
      <mat-icon color="#FFF">grade</mat-icon>
    </a>
  </mat-toolbar>
  <mat-tab-group mat-align-tabs="center">
    <mat-tab label="Editor">
      <div class="container">
          <textarea id="editor" ngPreserveWhitespaces [(ngModel)]="text"></textarea>
      </div>    
    </mat-tab>
    <mat-tab label="Preview">
      <markdown [data]="text" ngPreserveWhitespaces emoji id="preview">
      </markdown>
    </mat-tab>
  </mat-tab-group>
</div>
